{% extends "base.html" %} 

{% block header %} 
    <h1>Change Your Password</h1>
{% endblock %} 

{% block notifications %} 
    {% with messages = get_flashed_messages() %} 
        {% if messages %} 
            {% for message in messages %} 
            <div class="notifications">{{ message }}</div>
            {% endfor %} 
        {% endif %} 
    {% endwith %} 
{% endblock %} 

{% block content %} 

    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.current_password.label }}<br>
            {{ form.current_password(size=64) }}<br>
            {% for error in form.current_password.errors %} 
            <span class="error">{{ error }}</span>
            {% endfor %} 
        </p>
        <p>
            {{ form.new_password.label }}<br>
            {{ form.new_password(size=64) }}<br>
            {% for error in form.new_password.errors %} 
            <span class="error">{{ error }}</span>
            {% endfor %} 
        </p>
        <p>
            {{ form.new_password2.label }}<br>
            {{ form.new_password2(size=64) }}<br>
            {% for error in form.new_password2.errors %} 
            <span class="error">{{ error }}</span>
            {% endfor %} 
          
        </p>
        <p>{{ form.submit() }}
            <a href="{{ url_for('main.user_profile', username=current_user.username) }}"><button id="cancel-change-password-btn" type="button">Cancel</button></a>
        </p>
        </form>
{% endblock %} 

