{% extends "base.html" %} 

{% block header %} 
    <h1>Reset Password</h1>
{% endblock %} 

{% block notifications %} 
    {% with messages = get_flashed_messages() %} 
        {% if messages %} 
            {% for message in messages %} 
            <div class="notifications">{{ message }}</div>
            {% endfor %} 
        {% endif %} 
    {% endwith %} 
{% endblock %} 

{% block content %} 
    <form action="" method="post"> 
        {{ form.hidden_tag() }}
        <p>
            {{ form.email.label }}<br>
            {{ form.email(size=64) }}<br>
            {% for error in form.email.errors %} 
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %} 
        </p>
         
        <p>{{ form.submit() }}</p>
    </form>

    {% endblock %} 