
/* Base styles */

body {
    background-color: antiquewhite;
}

.container {
    display: flex;
    flex-direction: column;
    margin-left: 15%;
    padding-left: 50px;
    padding-right: 50px;
}
.header {
    text-align: center;
    order: 1;
}

.header hr {
    margin-top: 2%;
    padding: 0;
}

.body-text {
    font-size: 18px;
    order: 3;
}

.body-text hr {
    margin-top: 2%;
    padding: 0;
}

.inner-button {
    display: inline-block;
}
/* Navigation Bar */

nav {
    margin: 0;
    padding: 0;
    width: 15%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: darkblue;
    color:antiquewhite;
}

nav ul {
    list-style-type: none;
    padding-right: 4%;
}

nav a {
    color:antiquewhite;
    text-decoration: none;  
}

.main-nav-menu {
    padding-top: 4%;
}

.main-nav-menu hr {
    color: antiquewhite;
    size: 4px;

}
.nav-menu-item {
    display: block;
    color:antiquewhite;
    padding: 4% 4% 4% 10%;
    font-size: 24px;
}

.menu-sub-heading {
    display: block;
    color:antiquewhite;
    padding: 4% 4% 0% 10%;
    font-size: 24px;
    
}

.sub-menu-item {
    font-size: 18px;
    padding-bottom: 4%;
    padding-left: 4%;
}

.menu-med-items, .menu-doctor-items, .menu-pharmacy-items {
    padding-top: 0%;
    padding-bottom: 0%;
}

nav a:hover {
    background-color: cornflowerblue;
   
}
/* Notifications and Errors */
.notifications {
    color: red;
    order: 2;

}

.error {
    color: red; 
    font-size:medium;
}

/* Add Medication page */

.info-circle {
    vertical-align: super;
    font-size: 12px;
}

.info-circle .info-text {
    visibility: hidden;
    width: 300px;
    background-color: white;
    color: black;
    text-align: left;
 /*   border-radius: 6px; */
    border: 1px;
    border-style: solid;
    border-color: black;
    padding: 5px;
    font-size: 12px;
  
    /* Position the tooltip */
    position: absolute;
    margin-left: 20px;
    margin-top: 30px;
    z-index: 1;
  }
  
.info-circle:hover .info-text {
    visibility: visible;
}

.info-circle:focus .info-text {
    visibility: visible;
}

#reminders-true {
    display: none;
}

#doctor-choice {
    display: none;
}

#only-current-doctor {
    display: none;
}

#only-new-doctor {
    display: none;
}

#no-doctor-btn {
    display: none;
}

#pharmacy-choice {
    display: none;
}

#only-current-pharmacy {
    display: none;
}

#only-new-pharmacy {
    display: none;
}

#no-pharmacy-btn {
    display: none;
}

#button-section {
    display: flex;
    column-gap: 1em;
}


/* Medication page */

#edit-medication-btn {
 
}

#delete-medication-btn {
    margin-left: 5%;

}

#delete-medication-submit {
    display: none;
}

#cancel-delete-medication-btn {
    display: none;
}
/* Manage Medications page */

#pharmacy-list {
    display: none;
}

#doctors-list {
    display: none;
}

#delete-confirmation-div {
    display: none;
}

#manage-meds-submit-button {
    display: none;
}

/* Table styles */

td {
    text-align: left;
    padding: 5px;
}

th {
    text-align: left;
}
thead {
  background-color: rgb(245, 207, 158);
}

tbody tr:nth-child(even) {
  background-color: rgb(248, 227, 199);
}

tbody tr:nth-child(odd) {
  background-color: rgb(252, 241, 227);
}

/* Medication table */

#medication-table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
}

#medication-table thead th:nth-child(1) {
    width: 3%;
  }

#delete-confirmation {
    list-style-type: none;
}
/* Doctor table */

#doctor-table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
}

#doctor-table thead th:nth-child(1) {
  width: 30%;
}

#doctor-table thead th:nth-child(2) {
  width: 20%;
}

#doctor-table thead th:nth-child(3) {
  width: 50%
}

/* Pharmacy table */

#pharmacy-table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;    
}

#pharmacy-table thead th:nth-child(1) {
  width: 30%;
}

#pharmacy-table thead th:nth-child(2) {
  width: 20%;
}

#pharmacy-table thead th:nth-child(3) {
  width: 50%
}

/* Doctor page */

#edit-doctor-btn {
 
}

#delete-doctor-btn {
    margin-left: 5%;

}

#delete-doctor-submit {
    display: none;
}

#cancel-delete-doctor-btn {
    display: none;
}

/* Pharmacy page */

#edit-pharmacy-btn {

}

#delete-pharmacy-btn {
    margin-left: 5%;
}
#delete-pharmacy-submit {
    display: none;
}

#cancel-delete-pharmacy-btn {
    display: none;
}

/* User homepage */

.main-container {
    display: flex;
    flex-direction: column;
   
}
.short-term-medications, .long-term-medications {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;   

}

.reminders, .short-term-medications, .long-term-medications {
    margin-left: 25px;
    margin-right: 25px;
} 

.reminder-container ul {
    list-style: inside;
    padding-left: 0;
}

.reminder-container ul {
    margin-bottom: 0px;
}

/* Profile page */

#edit-profile-btn {
    margin-left: 5%;
}

#change-password-btn {
    margin-left: 3%;
}
#extra-confirmation-div {
    display: none;
}

#delete-profile-btn {
    margin-left: 5%;
}
#delete-profile-submit {
    display: none;
}

#cancel-delete-profile-btn {
    display: none;
}

/* Help page */


.accordion .help-section {
    position: relative;
    margin-left: 25px;
    margin-right: 25px;
}

.accordion .section-label {
    position: relative;
}

.accordion .section-label::before {
    content: '+';
    color: black;
    position: absolute;
    top: 50%;
    right: -5px;
    transform: translateY(-50%);

}
.accordion .section-container {
    position: relative;
    display: none;
    text-align: justify;
    overflow: hidden;
    margin: 0px 25px;
    transition: 0.5s;
}

.accordion .help-section.active .section-container {
    display: block;
}

.accordion .help-section.active .section-label::before {
    content: '-';
}

.accordion h2 {
    background-color: rgb(245, 207, 158);
}


.sub-section-container {
    margin-left: 25px;
    margin-right: 25px;
}
/* this is purely to see where the field names are - don't leave it this way */

.field-name-help {
    color:blue;
}