<fieldset>
    <legend>Doctor</legend>

    <p>
        {{ form.doctor_first_name.label }}<br>
        {{ form.doctor_first_name(size=128) }}<br>
        {% for error in form.doctor_first_name.errors %} 
        <span class="error">{{ error }}</span>
        {% endfor %} 
    </p>
    <p>
        {{ form.doctor_last_name.label }}<br>
        {{ form.doctor_last_name(size=64) }}<br>
        {% for error in form.doctor_last_name.errors %} 
        <span class="error">{{ error }}</span>
        {% endfor %} 
    </p>
    <p>
        {{ form.doctor_phone_number.label }}<br>
        {{ form.doctor_phone_number(size=64) }}<br>
        {% for error in form.doctor_phone_number.errors %} 
        <span class="error">{{ error }}</span>
        {% endfor %} 
    </p>
    <p>
        {{ form.doctor_address_line_1.label }}<br>
        {{ form.doctor_address_line_1(size=64)}}<br>
        {% for error in form.doctor_address_line_1.errors %} 
        <span class="error">{{ error }}</span>
        {% endfor %} 
    </p>
    <p>
        {{ form.doctor_address_line_2.label }}<br>
        {{ form.doctor_address_line_2(size=64) }}<br>
        {% for error in form.doctor_address_line_2.errors %} 
        <span class="error">{{ error }}</span>
        {% endfor %} 
    </p>
    <p>
        {{ form.doctor_city.label }}
        {{ form.doctor_city(size=64)}}<br>
        {% for error in form.doctor_city.errors %} 
        <span class="error">{{ error }}</span>
        {% endfor %} 
    </p>
    <p>
        {{ form.doctor_state.label }}
        {{ form.doctor_state()}}<br>
        {% for error in form.doctor_state.errors %} 
        <span class="error">{{ error }}</span>
        {% endfor %} 
    </p>
    <p>
        {{ form.doctor_zipcode.label }}
        {{ form.doctor_zipcode(size=32) }} <br>
        {% for error in form.doctor_zipcode.errors %} 
        <span class="error">{{ error }}</span>
        {% endfor %} 
    </p>
    <p>
        {{ form.doctor_notes.label }}<br>
        {{ form.doctor_notes(size=1024)}}
        {% for error in form.doctor_notes.errors %} 
        <span class="error">{{ error }}</span>
        {% endfor %} 
    </p>
</fieldset>