<fieldset>
    <legend>Pharmacy</legend>
    <p>
        {{ form.pharmacy_name.label }}<br>
        {{ form.pharmacy_name(size=64) }}<br>
        {% for error in form.pharmacy_name.errors %} 
        <span class="error">{{ error }}</span>
        {% endfor %} 
    </p>
    <p>
        {{ form.pharmacy_phone_number.label }}<br>
        {{ form.pharmacy_phone_number(size=64) }}<br>
        {% for error in form.pharmacy_phone_number.errors %} 
        <span class="error">{{ error }}</span>
        {% endfor %} 
    </p>
    <p>
        {{ form.pharmacy_address_line_1.label }}<br>
        {{ form.pharmacy_address_line_1(size=64)}}<br>
        {% for error in form.pharmacy_address_line_1.errors %} 
        <span class="error">{{ error }}</span>
        {% endfor %} 
    </p>
    <p>
        {{ form.pharmacy_address_line_2.label }}<br>
        {{ form.pharmacy_address_line_2(size=64) }}<br>
        {% for error in form.pharmacy_address_line_2.errors %} 
        <span class="error">{{ error }}</span>
        {% endfor %} 
    </p>
    <p>
        {{ form.pharmacy_city.label }}
        {{ form.pharmacy_city(size=64)}}<br>
        {% for error in form.pharmacy_city.errors %} 
        <span class="error">{{ error }}</span>
        {% endfor %} 
    </p>
    <p>
        {{ form.pharmacy_state.label }}
        {{ form.pharmacy_state()}}<br>
        {% for error in form.pharmacy_state.errors %} 
        <span class="error">{{ error }}</span>
        {% endfor %} 
    </p>
    <p>
        {{ form.pharmacy_zipcode.label }}
        {{ form.pharmacy_zipcode(size=32) }} <br>
        {% for error in form.pharmacy_zipcode.errors %} 
        <span class="error">{{ error }}</span>
        {% endfor %} 
    </p>
    <p>
        {{ form.pharmacy_notes.label }}<br>
        {{ form.pharmacy_notes(size=1024)}}
        {% for error in form.pharmacy_notes.errors %} 
        <span class="error">{{ error }}</span>
        {% endfor %} 
    </p>
</fieldset> 