{% extends "base.html" %} 

{% block header %} 
    <h1 class="header">Add Medication</h1>
{% endblock %} 

{% block content %} 
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <input type="hidden" id="user_id" name="user_id" value=current_user.user_id>

        <p>
            {{ form.medication_name.label }}<br>
            {{ form.medication_name(size=128) }}<br>
        </p>
        <p>
            {{ form.brand_name.label }}<br>
            {{ form.brand_name(size=64) }}<br>
        </p>
        <p>
            {{ form.dose.label }}<br>
            {{ form.dose(64) }}<br>
        </p>
        <p>
            {{ form.frequency.label }}<br>
            {{ form.frequency(size=64)}}<br>
        </p>
        <p>
            {# deal with the date #} 
            {{ form.prescription_date.label }}<br>
            {{ form.prescription_date() }}<br>
        </p>
        <p>
            {# deal with the date #} 
            {{ form.last_filled.label }}<br>
            {{ form.last_filled()}}<br>
        </p>
        <p>
            {# deal with the boolean #} 
            {{ form.short_term.label }}<br>
            {{ form.short_term()}}<br>
        </p>
        <p>
            {{ form.length.label }}<br>
            {{ form.length()}} days<br>
        </p>
        <p>
            {# deal with the boolean #} 
            {{ form.reminder.label }}<br>
            {{ form.reminder() }}<br>
        </p>
        <p>
            {# this should only show if the former is true #} 
            {{ form.reminder_length.label}}<br>
            {{ form.reminder_length }} days<br>
        </p>
        <p>
            {# figure out drop down and add text #}
            {# how to add doctor_id? #}
            Prescriber information:
            {{ form.doctor_first_name.label }}<br>
            {{ form.doctor_first_name(size=64) }}<br>
            {{ form.doctor_last_name.label }}<br>
            {{ form.doctor_last_name(size=64) }}<br>
        </p>
        <p>
            {# figure out drop down and add text #} 
            {# how to add pharmacy_id? #}
            {{ form.pharmacy_name.label }}<br>
            {{ form.pharmacy_name(size=64) }}<br>
        </p>
        <p>
            {{ form.refills_remaining.label}}<br>
            {{ form.refills() }}<br>
        </p>
        <p>
            {{ form.refills_expiration.label }}<br>
            {{ form.refills_expiration() }}<br>
        </p>
        <p>
            {{ form.reason.label }}<br>
            {{ form.reason(size=128) }}<br>
        </p>
        <p>
            {{ form.notes.label }}<br>
            {{ form.notes(size=1024)}}
        </p>
        <p>
            {{ form.submit() }}
        </p>
        
    </form>

{% endblock %} 
