{% extends "base.html" %} 

{% block header %} 
    <h1 class="header">Add Doctor</h1>
{% endblock %} 

{% block notifications %} 
    {% with messages = get_flashed_messages() %} 
        {% if messages %} 
            {% for message in messages %} 
            <div class="notifications">{{ message }}</div>
            {% endfor %} 
        {% endif %} 
    {% endwith %} 
{% endblock %} 

{% block content %} 
    <form action="" method="post">
    {{ form.hidden_tag() }}

    {% include '_doctor_form.html' %}
    <p>
        {{ form.submit() }}
        <a href="{{ url_for('main.doctor_list', username=current_user.username) }}"><button id="cancel-add-doctor-btn" type="button">Cancel</button></a>
  
    </p>
    
    </form>
{% endblock %} 
