<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% if title %} 
        <title>{{ title }} - Medication Tracker</title>
        {% else %} 
        <title>Medication Tracker</title>
        {% endif %} 
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <nav>
            <div class="main-nav-menu"> 
                {% if current_user.is_anonymous %} 
                <a href="{{ url_for('main.index') }}" class="nav-menu-item">Home</a>
                <hr>
                <a href="{{ url_for('auth.login') }}" class="nav-menu-item">Log In</a>
                {% else %} 
                <a href="{{ url_for('main.user', username=current_user.username) }}" class="nav-menu-item">Home</a>
                <hr>
                <a href="{{ url_for('main.user_profile', username=current_user.username) }}" class="nav-menu-item">Profile</a>
                <hr>
                <div class="nav-submenus">
                    <span class="menu-sub-heading" id="menu-med-heading">Medications</span>
                        <div class="menu-med-items">
                            <a href="{{ url_for('main.add_medication', username=current_user.username) }}" class="sub-menu-item">Add Medication</a>
                            <p><a href="{{ url_for('main.manage_medications', username=current_user.username) }}" class="sub-menu-item">Manage Medications</a></p>
                        </div>
                        <hr>
                    <span class="menu-sub-heading" id="menu-doctor-heading">Doctors</span>
                   
                        <ul class="menu-doctor-items">
                            <a href="{{ url_for('main.add_doctor', username=current_user.username) }}" class="sub-menu-item">Add Doctor</a>
                            <p><a href="{{ url_for('main.doctor_list', username=current_user.username) }}" class="sub-menu-item">View Doctors</a></p>
                        </ul>
                    
                    <span class="menu-sub-heading" id="menu-pharmacy-heading">Pharmacies</span>
                        <ul class="menu-pharmacy-items">
                            <a href="{{ url_for('main.add_pharmacy', username=current_user.username) }}" class="sub-menu-item">Add Pharmacy</a>
                            <a href="{{ url_for('main.pharmacy_list', username=current_user.username) }}" class="sub-menu-item">View Pharmacies</a>
                        </ul>
                    
                </div>
                <a href="{{ url_for('auth.logout') }}" class="nav-menu-item">Log Out</a></li>
                {% endif %} 
            </div>
        </nav>
        <div class = "container">
            <div class = "header">
                {% block header %} {% endblock %} 
                <hr>
            </div>
            <div class = "notifications">
                {% block notifications %}{% endblock %} 
            </div>
            <div class="body-text">
            {% block content %}{% endblock %} 
            </div>
        </div>
        {% block javascript %}{% endblock %}
        
    </body>
</html>