{% extends "base.html" %}

{% block header %} 
    <h1 class="header">Detailed Information - Dr. {{ doctor.full_name() }}</h1>
{% endblock %} 

{% block notifications %} 
    {% with messages = get_flashed_messages() %} 
        {% if messages %} 
            {% for message in messages %} 
            <div class="notifications">{{ message }}</div>
            {% endfor %} 
        {% endif %} 
    {% endwith %} 
{% endblock %} 

{% block content %} 
    
<p><div id="doctor-info-summary">
    <p>Dr. {{ doctor.full_name() }}</p>
    <p>Phone number: {{ doctor.doctor_phone_number }}</p>
    <p>Address: 
        {% if doctor.doctor_address_line_1 %}{{ doctor.doctor_address_line_1 }},{% endif %} 
        {% if doctor.doctor_address_line_2 %}{{ doctor.doctor_address_line_2 }},{% endif %} 
        {% if doctor.doctor_city and doctor.doctor_state %} 
            {{ doctor.doctor_city }}, {{ doctor.doctor_state}}
        {% elif doctor.doctor_city and not doctor.doctor_state %} 
            {{ doctor.doctor_city }}
        {% elif doctor.doctor_state and not doctor.doctor_city %} 
            {{ doctor.doctor_state }}
        {% endif %}{% if doctor.doctor_zipcode %}{{ doctor.doctor_zipcode }}{% endif %}</p>
        
    <p>{% if doctor.doctor_notes %}Notes: {{ doctor.doctor_notes }}{% endif %}</p>
</div></p>
<a href="{{ url_for('main.edit_doctor', username=current_user.username, doctor_id=doctor.id) }}"><button id="edit-doctor-btn" type="button">Edit Information</button></a>

{% endblock %}
