{% extends "base.html" %}

{% block header %} 
    <h1 class="header">Detailed Information - Dr. {{ doctor.full_name() }}</h1>
{% endblock %} 

{% block notifications %} 
    {% with messages = get_flashed_messages() %} 
        {% if messages %} 
            {% for message in messages %} 
            <div class="notifications">{{ message }}</div>
            {% endfor %} 
        {% endif %} 
    {% endwith %} 
{% endblock %} 

{% block content %} 
    
<p><div id="doctor-info-summary">
    <p>Dr. {{ doctor.full_name() }}</p>
    <p>Phone number: {% if doctor.doctor_phone_number %}{{ doctor.doctor_phone_number }}{% endif %}</p>
    <p>Address: 
        {% if doctor.doctor_address_line_1 %}{{ doctor.doctor_address_line_1 }},{% endif %} 
        {% if doctor.doctor_address_line_2 %}{{ doctor.doctor_address_line_2 }},{% endif %} 
        {% if doctor.doctor_city and doctor.doctor_state %} 
            {{ doctor.doctor_city }}, {{ doctor.doctor_state}}
        {% elif doctor.doctor_city and not doctor.doctor_state %} 
            {{ doctor.doctor_city }}
        {% elif doctor.doctor_state and not doctor.doctor_city %} 
            {{ doctor.doctor_state }}
        {% endif %}{% if doctor.doctor_zipcode %}{{ doctor.doctor_zipcode }}{% endif %}</p>
        
    <p>{% if doctor.doctor_notes %}Notes: {{ doctor.doctor_notes }}{% endif %}</p>
    <p>{% if medications %}Prescribed medications:
        <ul>
        {% for medication in medications %}<li><a href="{{ url_for('main.medication', username=current_user.username, medication_id=medication.id) }}">{{ medication.medication_name }}</a>
        </li>{% endfor %} 
        </ul>
        {% else %}<p>You have no prescribed medications listed for this doctor.</p>
        {% endif %} 
    </p>

        
    <hr>
</div></p>

<a href="{{ url_for('main.edit_doctor', username=current_user.username, doctor_id=doctor.id) }}"><button id="edit-doctor-btn" type="button">Edit Information</button></a><button id="delete-doctor-btn">Delete Doctor</button>
<form action="" id="delete-doctor-form" method="post">
    {{ form.hidden_tag() }}
    <div id="delete-confirmation-div">
        <p>{{ form.delete_confirmation.label }}
            {{form.delete_confirmation(style="list-style:none", id="delete-confirmation") }}
            {% for error in form.delete_confirmation.errors %} 
            <span class="error">{{ error }}</span>
            {% endfor %} 
        </p>
    </div>

    <div class = "button-container">
        <div class = "inner-button">{{ form.submit(id="delete-doctor-submit") }}</div>
        <div class = "inner-button"><button id="cancel-delete-doctor-btn" type="button">Cancel</button></div>
    </div>
</form>
{% endblock %}


{% block javascript %}
    <script src="{{ url_for('static', filename='doctor_page_scripts.js') }}"></script>
{% endblock %}