{% extends "base.html" %} 

{% block header %} 
    {% if current_user.display_name %}
        <h1 class="header">Doctor List - {{ current_user.display_name }}</h1>
    {% else %} 
        <h1 class="header">Doctor List</h1>
    {% endif %} 
{% endblock %} 

{% block notifications %} 
    {% with messages = get_flashed_messages() %} 
        {% if messages %} 
            {% for message in messages %} 
                <div class="notifications">{{ message }}</div>
            {% endfor %} 
        {% endif %} 
    {% endwith %} 
{% endblock %} 

{% block content %} 
    <div class="main-container">
        <div class="doctor-container">
            <table id="doctor-table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Phone Number</th>
                        <th>Notes</th>
                    </tr>
                </thead>
                <tbody>
                    {% for doctor in doctors %}
                        <tr>
                            <td><a href="{{ url_for('main.doctor', username=current_user.username, doctor_id=doctor.id) }}">Dr. {{ doctor.full_name() }}</a></td>
                            <td>{% if doctor.doctor_phone_number %}{{ doctor.doctor_phone_number }}{% endif %}</td>
                            <td>{% if doctor.doctor_notes %}{{ doctor.doctor_notes}}{% endif %}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table> 
        </div>
        <a href="{{ url_for('main.add_doctor', username=current_user.username) }}"><button id="add-doctor-btn" type="button">Add New Doctor</button></a>

    </div>

{% endblock %} 