{% extends "base.html" %} 

{% block header %} 
    {% if current_user.display_name %}
        <h1 class="header">Doctor List - {{ current_user.display_name }}</h1>
    {% else %} 
        <h1 class="header">Doctor List</h1>
    {% endif %} 
{% endblock %} 

{% block notifications %} 
    {% with messages = get_flashed_messages() %} 
        {% if messages %} 
            {% for message in messages %} 
                <div class="notifications">{{ message }}</div>
            {% endfor %} 
        {% endif %} 
    {% endwith %} 
{% endblock %} 

{% block content %} 
    <div class="main-container">
        <div class="doctor-container">
            {% for doctor in doctors %}
                <div class="doctor-summary">
                    <p> <div class="doctor-name"><a href="{{ url_for('main.doctor', username=current_user.username, doctor_id=doctor.id) }}">Dr. {{ doctor.full_name() }}</a></div>
                        <div class="doctor-phone">{% if doctor.phone_number %}Phone: {{ doctor.phone_number }}{% endif %}</div>
                        <div class="doctor-notes">{% if doctor.notes %}Notes: {{ doctor.notes}}{% endif %}</div>
                    </p>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %} 