{% extends "base.html" %}

{% block header %} 
    <h1 class="header">Detailed Medication Information - {{ medication.medication_name }}</h1>
{% endblock %} 

{% block notifications %} 
    {% with messages = get_flashed_messages() %} 
        {% if messages %} 
            {% for message in messages %} 
            <div class="notifications">{{ message }}</div>
            {% endfor %} 
        {% endif %} 
    {% endwith %} 
{% endblock %} 

{% block content %} 
    
<p><div id="edit-medication-form">
    <form action="" method="post">
        {{ form.hidden_tag() }}
        {% include '_basic_med_info.html' %}
        {% include '_detailed_med_info.html' %} 
        <p>{{ form.doctor_list.label }}
            {{ form.doctor_list(id="current-doctor-choice") }}
            {% for error in form.doctor_list.errors %} 
            <span class="error">{{ error }}</span>
            {% endfor %} 
        </p>
        <p>{# might want to handle the case where this list is blank better #}
            {{ form.pharmacy_list.label }}
            {{ form.pharmacy_list(id="current-pharmacy-choice") }}
            {% for error in form.pharmacy_list.errors %} 
            <span class="error">{{ error }}</span>
            {% endfor %} 
        </p>

        <p>
            {{ form.submit() }}
            <a href="{{ url_for('main.medication', username=current_user.username, medication_id=medication.id) }}"><button id="cancel-edit-medication-btn" type="button">Cancel</button></a>
  
        </p>
    </form>
</div>
</p>

{% endblock %}

{% block javascript %}
    <script src="{{ url_for('static', filename='edit_med_scripts.js') }}"></script>
{% endblock %}