{% extends "base.html" %}

{% block header %} 
    <h1 class="header">Edit Information - {{ pharmacy.pharmacy_name }}</h1>
{% endblock %} 

{% block notifications %} 
    {% with messages = get_flashed_messages() %} 
        {% if messages %} 
            {% for message in messages %} 
            <div class="notifications">{{ message }}</div>
            {% endfor %} 
        {% endif %} 
    {% endwith %} 
{% endblock %} 

{% block content %} 
    <form action="" method="post">
    {{ form.hidden_tag() }}

    {% include '_pharmacy_form.html' %}
    <p>
        {{ form.submit() }}
        <a href="{{ url_for('main.pharmacy', username=current_user.username, pharmacy_id=pharmacy.id) }}"><button id="edit-pharmacy-btn" type="button">Cancel</button></a>
   
    </p>
    
    </form>
{% endblock %}
