{% extends "base.html" %} 

{% block header %} 
    <h1 class="header">How to use the 5W Medication Tracker</h1>
{% endblock %} 

{% block content %} 
<div class="accordion">

<h2>Medication Questions</h2>

    <div class="help-section">
        <h3 class="section-label">Adding a medication</h3>
            <div class="section-container">
                Once you have navigated to the {% if user %}<a href="{{ url_for('main.add_medication', username=current_user.username) }}">Add Medication</a>{% else %}Add Medication{% endif %} page you will find a form 
                    where you can enter a great deal of information about your medication.
                    If it seems overwhelming, just remember that the <strong>only</strong> 
                    required information for a medication is its name. Anything else is 
                    optional!
                <p>So what information can you store on the form?</p>
                <div class="sub-section-container">
                    <span class="field-help">
                            <p><span class="field-name-help">Name:</span> The only required field on this form, this is for the 
                            medication's name. Note that this does not have to be unique, 
                            in case you have two different dosages of the same medication for some 
                            reason, say. However, if you have two medications with the same name, 
                            you might want to note the difference between them somewhere.
                        </p></span> 
                    <span class="field-help">
                        <p><span class="field-name-help">Brand name:</span> Sometimes generic 
                        medication names are long and hard to spell or pronounce. If you are in this 
                        situation, you might want to add a brand name, which is usually shorter and easier to remember. 
                        This is also helpful if the medical staff is inconsistent about which
                        name they use; you won't be stuck trying to remember that Synthroid
                        is Levothyroxine.
                    </p></span> 
                    <span class="field-help">
                        <p><span class="field-name-help">Dose:</span> What is the dosage of your medication? e.g., 500 mg, .75 mcg, 5mL,
                        2 teaspoons, etc.
                    </p></span> 
                    <span class="field-help">
                        <p><span class="field-name-help">Frequency:</span> How often do you need to take this medication? e.g., Twice
                        a day, Once at bedtime, Once every 7 days, etc.
                    </p></span> 
                    <span class="field-help">
                        <p><span class="field-name-help">Length:</span> How long is this prescription? If you are on a long-term medication 
                        (sometimes called a maintenance medication) this could be 90 days. If not, it
                        can range anywhere from 30 days to 1 day (although you probably don't need
                        to enter it in the medication tracker if you only take it for one day, unless
                        you really want to!)
                    </p></span> 
                    <span class="field-help">
                        <p><span class="field-name-help">Short-term medication?:</span> On your user page your medications are divided into short-term 
                        and long-term medications. This checkbox allows you to specify a medication 
                        is short-term. If it is not checked, the medication is assumed to be 
                        long-term.
                    </p></span> 
                    <span class="field-help">
                        <p><span class="field-name-help">Reason:</span> It is easy to lose track of what medication you are taking for what
                        purpose. This allows you to make a little note to remind yourself of why you 
                        are taking this medication.
                    </p></span> 
                    <span class="field-help">
                        <p><span class="field-name-help">Add Doctor:</span> This allows you to record what doctor has prescribed your medication,
                        which can be handy to know if you have run out of refills! You can either select 
                        a doctor you have previously used or you can add a new doctor. New doctors will
                        automatically be added to your Doctor List. If you change your mind about adding 
                        a doctor, just press the Don't Add Doctor button!
                    </p></span> 
                    <span class="field-help">
                        <p><span class="field-name-help">Add Pharmacy:</span> This allows you to keep track of what pharmacy you filled your 
                        prescription at. Just as for adding a doctor, you can select a pharmacy you have
                        already used or you can add a new one; new ones will be added to your Pharmacy List. 
                        If you change your mind about adding a pharmacy, press the Don't Add Pharmacy button 
                        and it will go away!
                    </p></span> 
                    <span class="field-help">
                        <p><span class="field-name-help">Prescription Date:</span> This is the date your doctor prescribed your medication. Not every
                        medication label includes this information, but you can record it here if they do.
                    </p></span> 
                    <span class="field-help">
                        <p><span class="field-name-help">Last Filled:</span> This helps you keep track of when you most recently filled this 
                        prescription. Note that if you don't keep this up to date, your refill reminders will 
                        stop being helpful!
                    </p></span> 
                    <span class="field-help">
                        <p><span class="field-name-help">Prescription Expiration Date:</span> Prescriptions don't last forever, so this helps you keep 
                        track of when your prescription or refills expire. Sometimes your medication label will 
                        also include when the medication itself expires (i.e., when it is past the date 
                        you should be using it.) For most of us, the expiration date of the prescription is 
                        more useful to keep track of, since you can't refill a prescription that has expired.
                    </p></span> 
                    <span class="field-help">
                        <p><span class="field-name-help">Number of refills remaining:</span> A crucial piece of information for long-term medications, 
                        here you can keep track of how many refills you have left.
                    </p></span> 
                    <span class="field-help">
                        <p><span class="field-name-help">Refill reminders on?:</span> If you would like to be reminded of when you need to refill 
                        this medication, simply check this box and enter how many days in advance you wish to be 
                        reminded. (3 days before you run out? 7 days?) If you do wish to be reminded, 
                        you will also need to enter when the medication was last filled, how long the 
                        prescription is for, and how many days in advance you want to be reminded. e.g., if 
                        your prescription is 30 days long and you want to be reminded 4 days before you 
                        run out, then your reminders will start 26 days after you last filled it.
                    </p></span> 
                    <span class="field-help"></span>
                    <p><span class="field-name-help">Notes:</span> This is for anything else you wish to record about this medication. Do you tend 
                        to have side-effects from it? Do you need to take it with food or wait 30 minutes 
                        before you eat? Anything is fair game for this field!
                    </p></span> 
                </div> 
            </div>
    </div>
    <hr>
    <div class="help-section">
    <h3 class="section-label">Editing a Medication</h3>
        <div class="section-container">
            There should be content here.
        </div>
    </div>
    <hr>
<h2>Doctor Questions</h2>
    <div class="help-section">
        <h3 class="section-label">Adding a Doctor </h3>
            <div class="section-container">
                There should be content here.
            </div>
    </div>
    <hr>
<h2>Pharmacy Questions</h2>
    <div class="help-section">
    <h3 class="section-label">Adding a Pharmacy</h3>
        <div class="section-container">
            There should be content here.
        </div>
    </div>
    <hr>
<h2>User Questions</h2>
    <div class="help-section">
    <h3 class="section-label">How do I change my password?</h3>
        <div class="section-container">
            There should be content here.
        </div>
    </div>
    <hr>
</div>

{% endblock %} 

{% block javascript %}
    <script src="{{ url_for('static', filename='help_scripts.js') }}"></script>
{% endblock %}