{% extends "base.html" %} 

{% block header %} 
    <h1 class="header">Manage Medications</h1>
{% endblock %} 

{% block notifications %} 
    {% with messages = get_flashed_messages() %} 
        {% if messages %} 
            {% for message in messages %} 
                <div class="notifications">{{ message }}</div>
            {% endfor %} 
        {% endif %} 
    {% endwith %} 
{% endblock %} 

{% block content %} 
    <div class="main-container">
        <form action="" method="post">
            {{ form.hidden_tag() }}
            <table id="medication-table">
                <thead>
                    <tr>
                        <th><input type="checkbox" name="all-medications" id="all-medications" value="all"></th>
                        <th>Name</th>
                        <th>Dose</th>
                        <th>Prescription Length</th>
                        <th>Remaining Refills</th>
                        <th>Prescribing Doctor</th>
                        <th>Pharmacy</th>
                    </tr>
                </thead>
                <tbody>
                    {% for medication in medications %}
                        <tr>
                            <td><input type="checkbox" class="selected_medications" name="selected_medications" value="{{ medication.id }}"></td>
                            <td><a href="{{ url_for('main.medication', username=current_user.username, medication_id=medication.id) }}">{{ medication.medication_name }}</a></td>
                            <td>{% if medication.dose %}{{ medication.dose }}{% endif %}</td>
                            <td>{% if medication.length %}{{ medication.length }} days{% endif %}</td>
                            <td>{% if medication.refills_remaining %}{{ medication.refills_remaining }}{% endif %}</td>
                            <td>{% if medication.doctor_id is integer %}{{ medication.prescribing_doctor_name() }}{% endif %}</td>
                            <td>{% if medication.pharmacy_id is integer %}{{ medication.filling_pharmacy() }}{% endif %}</td>
                        </tr>
                    {% endfor %}
            </tbody>
            </table>
        </div>
        <div id="action-choice-div">
            <p>{{ form.action_choice.label }}
                {{ form.action_choice(id="action-choice") }}
                {% for error in form.action_choice.errors %} 
                <span class="error">{{ error }}</span>
                {% endfor %} 
            </p></div>

        <div id="pharmacy-list">
            <p>{# might want to handle the case where this list is blank better #}
                {{ form.pharmacy_list.label }}
                {{ form.pharmacy_list(id="current-pharmacy-choice") }}
                {% for error in form.pharmacy_list.errors %} 
                <span class="error">{{ error }}</span>
                {% endfor %} 
            </p>
        </div>
    
        <div id="doctors-list">
            <p>{# might want to handle the case where this list is blank better #}
                {{ form.doctor_list.label }}
                {{ form.doctor_list(id="current-doctor-choice") }}
                {% for error in form.doctor_list.errors %} 
                <span class="error">{{ error }}</span>
                {% endfor %} 
            </p>
        </div>
        
        <div id="delete-confirmation-div">
            <p>{{ form.delete_confirmation.label }}
                {{form.delete_confirmation(style="list-style:none", id="delete-confirmation") }}
                {% for error in form.delete_confirmation.errors %} 
                <span class="error">{{ error }}</span>
                {% endfor %} 
            </p>
        </div>
        <div class = "button-container">
            <div class = "inner-button">{{ form.submit(id="manage-meds-submit-button") }}</div>
            <div class = "inner-button"><button id="cancel-manage-meds-btn" type="button">Cancel</button></div>
        </div>
        </form>
{% endblock %} 

{% block javascript %}
    <script src="{{ url_for('static', filename='manage_med_scripts.js') }}"></script>
{% endblock %}