{% extends "base.html" %}

{% block header %} 
    <h1 class="header">Detailed Pharmacy Information - {{ pharmacy.pharmacy_name }}</h1>
{% endblock %} 

{% block notifications %} 
    {% with messages = get_flashed_messages() %} 
        {% if messages %} 
            {% for message in messages %} 
            <div class="notifications">{{ message }}</div>
            {% endfor %} 
        {% endif %} 
    {% endwith %} 
{% endblock %} 

{% block content %} 
       
<p><div id="pharmacy-info-summary">
    <p>{{ pharmacy.pharmacy_name }}</p>
    <p>Phone number: {{ pharmacy.pharmacy_phone_number }}</p>
    <p>Address: 
        {% if pharmacy.pharmacy_address_line_1 %}{{ pharmacy.pharmacy_address_line_1 }},{% endif %} 
        {% if pharmacy.pharmacy_address_line_2 %}{{ pharmacy.pharmacy_address_line_2 }},{% endif %} 
        {% if pharmacy.pharmacy_city and pharmacy.pharmacy_state %} 
            {{ pharmacy.pharmacy_city }}, {{ pharmacy.pharmacy_state}}
        {% elif pharmacy.pharmacy_city and not pharmacy.pharmacy_state %} 
            {{ pharmacy.pharmacy_city }}
        {% elif pharmacy.pharmacy_state and not pharmacy.pharmacy_city %} 
            {{ pharmacy.pharmacy_state }}
        {% endif %}{% if pharmacy.pharmacy_zipcode %}{{ pharmacy.pharmacy_zipcode }}{% endif %}</p>
        
    <p>{% if pharmacy.pharmacy_notes %}Notes: {{ pharmacy.pharmacy_notes }}{% endif %}</p>
    <p>{% if medications %}Prescribed medications:
        <ul>
        {% for medication in medications %}<li><a href="{{ url_for('main.medication', username=current_user.username, medication_id=medication.id) }}">{{ medication.medication_name }}</a>
        </li>{% endfor %} 
        </ul>
        {% else %}<p>You have no prescribed medications listed for this pharmacy.</p>
        {% endif %} 
    </p>

        
    <hr>
</div></p>

<a href="{{ url_for('main.edit_pharmacy', username=current_user.username, pharmacy_id=pharmacy.id) }}"><button id="edit-pharmacy-btn" type="button">Edit Information</button></a><button id="delete-pharmacy-btn">Delete Pharmacy</button>
<form action="" id="delete-pharmacy-form" method="post">
    {{ form.hidden_tag() }}
    <div id="delete-confirmation-div">
        <p>{{ form.delete_confirmation.label }}
            {{form.delete_confirmation(style="list-style:none", id="delete-confirmation") }}
            {% for error in form.delete_confirmation.errors %} 
            <span class="error">{{ error }}</span>
            {% endfor %} 
        </p>
    </div>
    <div class = "button-container">
        <div class = "inner-button">{{ form.submit(id="delete-pharmacy-submit") }}</div>
        <div class = "inner-button"><button id="cancel-delete-pharmacy-btn" type="button">Cancel</button></div>
    </div>
</form>
{% endblock %}


{% block javascript %}
    <script src="{{ url_for('static', filename='pharmacy_page_scripts.js') }}"></script>
{% endblock %}
 