{% extends "base.html" %} 

{% block header %} 
    {% if current_user.display_name %}
        <h1 class="header">Pharmacy List - {{ current_user.display_name }}</h1>
    {% else %} 
        <h1 class="header">Pharmacy List</h1>
    {% endif %} 
{% endblock %} 

{% block notifications %} 
    {% with messages = get_flashed_messages() %} 
        {% if messages %} 
            {% for message in messages %} 
                <div class="notifications">{{ message }}</div>
            {% endfor %} 
        {% endif %} 
    {% endwith %} 
{% endblock %} 

{% block content %} 
    <div class="main-container">
        <div class="pharmacy-container">
            {% for pharmacy in pharmacies %}
                <div class="pharmacy-summary">
                    <p> {{ pharmacy.name }}, 
                        {{ pharmacy.phone_number }}, 
                        {{ pharmacy.notes }}</p>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %} 