{% extends "base.html" %} 

{% block header %} 
    {% if current_user.display_name %}
        <h1 class="header">Pharmacy List - {{ current_user.display_name }}</h1>
    {% else %} 
        <h1 class="header">Pharmacy List</h1>
    {% endif %} 
{% endblock %} 

{% block notifications %} 
    {% with messages = get_flashed_messages() %} 
        {% if messages %} 
            {% for message in messages %} 
                <div class="notifications">{{ message }}</div>
            {% endfor %} 
        {% endif %} 
    {% endwith %} 
{% endblock %} 

{% block content %} 
    <div class="main-container">
        <div class="pharmacy-container">
            {% for pharmacy in pharmacies %}
                <div class="pharmacy-summary">
                    <p>
                        <div class="pharmacy-name"><a href="{{ url_for('main.pharmacy', username=current_user.username, pharmacy_id=pharmacy.id) }}">{{ pharmacy.name }}</a></div>
                        <div class="pharmacy-phone">{% if pharmacy.phone_number %}Phone: {{ pharmacy.phone_number }}{% endif %}</div>
                        <div class="pharmacy-notes">{% if pharmacy.notes %}Notes: {{ pharmacy.notes }}{% endif %}</div>
                    </p>


            {% endfor %}
        </div>
    </div>

{% endblock %} 