{% extends "base.html" %}

{% block header %} 
    <h1 class="header">Detailed Pharmacy Information - {{ pharmacy.name }}</h1>
{% endblock %} 

{% block notifications %} 
    {% with messages = get_flashed_messages() %} 
        {% if messages %} 
            {% for message in messages %} 
            <div class="notifications">{{ message }}</div>
            {% endfor %} 
        {% endif %} 
    {% endwith %} 
{% endblock %} 

{% block content %} 
       
<p><div id="pharmacy-info-summary">
    <p>{{ pharmacy.name }}</p>
    <p>Phone number: {{ pharmacy.phone_number }}</p>
    <p>Address: 
        {% if pharmacy.address_line_1 %}{{ pharmacy.address_line_1 }},{% endif %} 
        {% if pharmacy.address_line_2 %}{{ pharmacy.address_line_2 }},{% endif %} 
        {% if pharmacy.city and pharmacy.state %} 
            {{ pharmacy.city }}, {{ pharmacy.state}}
        {% elif pharmacy.city and not pharmacy.state %} 
            {{ pharmacy.city }}
        {% elif pharmacy.state and not pharmacy.city %} 
            {{ pharmacy.state }}
        {% endif %}{% if pharmacy.zipcode %}{{ pharmacy.zipcode }}{% endif %}</p>
        
    <p>{% if pharmacy.notes %}Notes: {{ pharmacy.notes }}{% endif %}</p>
</div></p>
<button id="edit-pharmacy-btn" type="button">Edit Information</button>

<p><div id="edit-pharmacy-form">
    {% include '_pharmacy_form.html' %}
</div>
</p>
{% endblock %}


{% block javascript %}
    <script src="{{ url_for('static', filename='pharmacy_form_scripts.js') }}"></script>
{% endblock %}