{% extends "base.html" %} 

{% block header %} 
        <h1 class="header">Pharmacy List</h1>
{% endblock %} 

{% block notifications %} 
    {% with messages = get_flashed_messages() %} 
        {% if messages %} 
            {% for message in messages %} 
                <div class="notifications">{{ message }}</div>
            {% endfor %} 
        {% endif %} 
    {% endwith %} 
{% endblock %} 

{% block content %} 
    <div class="main-container">
        <div class="pharmacy-container">
            <table id="pharmacy-table">
                <thead>
                    <tr>
                        <th>Pharmacy Name</th>
                        <th>Phone Number</th>
                        <th>Notes</th>
                    </tr>    
                </thead>
                <tbody>
                    {% for pharmacy in pharmacies %}
                        <tr>
                            <td><a href="{{ url_for('main.pharmacy', username=current_user.username, pharmacy_id=pharmacy.id) }}">{{ pharmacy.pharmacy_name }}</a></td>
                            <td>{% if pharmacy.pharmacy_phone_number %}{{ pharmacy.pharmacy_phone_number }}{% endif %}</td>
                            <td>{% if pharmacy.pharmacy_notes %}{{ pharmacy.pharmacy_notes }}{% endif %}</td>
                        </tr>
                    {% endfor %}
                </tbody>           
            
            </table>
        </div>
        <a href="{{ url_for('main.add_pharmacy', username=current_user.username) }}"><button id="add-pharmacy-btn" type="button">Add New Pharmacy</button></a>

    </div>

{% endblock %} 