{% extends "base.html" %}

{% block header %} 
    <h1 class="header">User Profile</h1> 
{% endblock %} 

{% block notifications %} 
    {% with messages = get_flashed_messages() %} 
        {% if messages %} 
            {% for message in messages %} 
                <div class="notifications">{{ message }}</div>
            {% endfor %} 
        {% endif %} 
    {% endwith %} 
{% endblock %} 

{% block content %} 
    
<p><div id="user-info-summary">
    <p>Username: {{ user.username }}</p>
    <p>Display name: {% if user.display_name %}{{ user.display_name }} {% endif %} </p>
    <p>Email address: {{ user.email }}</p>
    <p>Password: **** <a href="{{ url_for('auth.change_password', username=current_user.username) }}"><button id="change-password-btn" type="button">Change Password</button></a></p>
</div></p>
<hr>
<p><div id="refill-info-summary">
    Refill Reminders:
    {% if reminders %} 
        <ul>
            {% for reminder in reminders %} 
                <li><a href="{{ url_for('main.medication', username=current_user.username, medication_id=reminder['id']) }}">{{ reminder["name"] }}</a>, {{ reminder["reminder_length"] }} days in advance</li>
            {% endfor %}     
        </ul>
    {% else %}<p>You have not set any refill reminders</p>
    {% endif %} 
</div></p>
 <hr>

<a href="{{ url_for('main.edit_profile', username=current_user.username) }}"><button id="edit-profile-btn" type="button">Edit Information</button></a><button id="delete-profile-btn">Delete Profile</button>
<form action="" id="delete-doctor-form" method="post">
    {{ form.hidden_tag() }}
    <div id="delete-confirmation-div">
        <p>{{ form.delete_confirmation.label }}
            {{form.delete_confirmation(style="list-style:none", id="delete-confirmation", name="delete-confirmation") }}
            {% for error in form.delete_confirmation.errors %} 
            <span class="error">{{ error }}</span>
            {% endfor %} 
        </p>
    </div>
    <div id="extra-confirmation-div">
        <p>{{ form.extra_confirmation.label }}
            {{form.extra_confirmation(style="list-style:none", id="extra-confirmation", name="extra-confirmation") }}
            {% for error in form.extra_confirmation.errors %} 
            <span class="error">{{ error }} </span>
            {% endfor %}
        </p>
    </div>
    <div class = "button-container">
        <div class = "inner-button">{{ form.submit(id="delete-profile-submit") }}</div>
        <div class = "inner-button"><button id="cancel-delete-profile-btn" type="button">Cancel</button></div>
    </div>
</form>

{% endblock %} 

{% block javascript %}
    <script src="{{ url_for('static', filename='profile_page_scripts.js') }}"></script>
{% endblock %}