{% extends "base.html" %} 

{% block header %} 
    {% if current_user.display_name %}
        <h1 class="header">Medication Summary for {{ current_user.display_name }}</h1>
    {% else %} 
        <h1 class="header">Medication Summary</h1>
    {% endif %} 
{% endblock %} 

{% block notifications %} 
    {% with messages = get_flashed_messages() %} 
        {% if messages %} 
            {% for message in messages %} 
                <div class="notifications">{{ message }}</div>
            {% endfor %} 
        {% endif %} 
    {% endwith %} 
{% endblock %} 

{% block content %} 
    <div class="main-container">
        
        <div class="reminder-container">
            <h2 class="reminders-title">Reminders</h2>
            <div class="reminders">Reminders go here.</div>
        </div>
        <div class="short-term-container">
            <h2 class="short-term-title">Short-term Medications</h2>
            <div class="short-term-medications">
                {% for medication in medications %}
                    {% if medication.short_term %}
                        <div class="medication-summary">
                               <p>
                                    <div class="medication-name"><a href="{{ url_for('main.medication', username=current_user.username, medication_id=medication.id) }}">{{ medication.medication_name }}</a></div>
                                    <div class="medication-dose">{% if medication.dose %} {{ medication.dose }}{% endif %}</div>
                                    <div class="medication-length">{% if medication.length %}{{ medication.length }}{% endif %}</div>
                                    <div class="prescribing-doctor">{% if medication.doctor_id is integer %}{{ medication.prescribing_doctor_name() }}{% endif %}</div>
                                    <div class="filling-pharmacy">{% if medication.pharmacy_id is integer %}{{ medication.filling_pharmacy() }}{% endif %}</div>
                                </p>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="long-term-container">
            <h2 class="long-term-title">Long-term Medications</h2>
            <div class="long-term-medications">
                {% for medication in medications %} 
                    {% if not medication.short_term %} 
                        <div class="medication-summary">
                            <p>
                                <div class="medication-name"><a href="{{ url_for('main.medication', username=current_user.username, medication_id=medication.id) }}">{{ medication.medication_name }}</a></div>
                                <div class="medication-dose">{% if medication.dose %} {{ medication.dose }}{% endif %}</div>
                                <div class="medication-length">{% if medication.length %}{{ medication.length }}{% endif %}</div>
                                <div class="prescribing-doctor">{% if medication.doctor_id is integer %}{{ medication.prescribing_doctor_name() }}{% endif %}</div>
                                <div class="filling-pharmacy">{% if medication.pharmacy_id is integer %}{{ medication.filling_pharmacy() }}{% endif %}</div>
                          </p>
                        </div>
                    {% endif %}
                {% endfor %} 
            </div>
        </div>
    </div>

{% endblock %} 