{% extends "base.html" %} 

{% block header %} 
    {% if current_user.display_name %}
        <h1 class="header">Medication Summary for {{ current_user.display_name }}</h1>
    {% else %} 
        <h1 class="header">Medication Summary</h1>
    {% endif %} 
{% endblock %} 

{% block notifications %} 
    {% with messages = get_flashed_messages() %} 
        {% if messages %} 
            {% for message in messages %} 
                <div class="notifications">{{ message }}</div>
            {% endfor %} 
        {% endif %} 
    {% endwith %} 
{% endblock %} 

{% block content %} 
    <div class="main-container">
        
        <div class="reminder-container">
            <h2 class="reminders-title">Reminders</h2>

            {% if reminders %} 
                <ul class="reminders">{%- for reminder in reminders -%} 
                    <li>{{ reminder["name"] }} runs out on {{reminder["runs_out_date"]}}</li>
                    {% endfor %} 
                </ul>
            {% else %} 
                <p class="reminders">You have no reminders at the moment</p>
            {% endif %} 
        </div>
        <div class="short-term-container">
            <h2 class="short-term-title">Short-term Medications</h2>
            
            <table class="short-term-medications">
                <tbody>
                    {% for medication in medications %}
                        {% if medication.short_term %}
                            <tr>
                                    <td><div class="basic-med-info"><a href="{{ url_for('main.medication', username=current_user.username, medication_id=medication.id) }}">{{ medication.medication_name }}</a>
                                        {%- if medication.dose -%}: {{ medication.dose }}
                                            {%- if medication.frequency -%}, {{ medication.frequency }}{% endif %}
                                            {%- if medication.length -%}, for {{ medication.length }} days{% endif %}
                                        {%- elif medication.frequency -%}: {{ medication.frequency }}
                                            {%- if medication.length -%}, for {{ medication.length }} days{% endif %}
                                        {%- elif medication.length -%}: for {{ medication.length }} days
                                        {% endif %}</div>
                                    </td>
                                    <td>{%- if medication.reason -%}Reason: {{ medication.reason }}{% endif %}</td>
                                    <td>{%- if medication.medication_notes -%}Notes: {{ medication.medication_notes}}{% endif %}</td>
                                </tr>
                        {% endif %}
                    {% endfor %}
                    </tbody>
            </table>
        </div>
        <div class="long-term-container">
            <h2 class="long-term-title">Long-term Medications</h2>
            <table class="long-term-medications">
                <tbody>
                {% for medication in medications %}
                    {% if not medication.short_term %}
                        <tr>
                                <td><div class="basic-med-info"><a href="{{ url_for('main.medication', username=current_user.username, medication_id=medication.id) }}">{{ medication.medication_name }}</a>
                                    {%- if medication.dose -%}: {{ medication.dose }}
                                        {%- if medication.frequency -%}, {{ medication.frequency }}{% endif %}
                                        {%- if medication.length -%}, for {{ medication.length }} days{% endif %}
                                    {%- elif medication.frequency -%}: {{ medication.frequency }}
                                        {%- if medication.length -%}, for {{ medication.length }} days{% endif %}
                                    {%- elif medication.length -%}: for {{ medication.length }} days
                                    {% endif %}</div>
                                </td>
                                <td>{%- if medication.reason -%}Reason: {{ medication.reason }}{% endif %}</td>
                                <td>{%- if medication.medication_notes -%}Notes: {{ medication.medication_notes}}{% endif %}</td>
                            </tr>
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>
    </div>

{% endblock %} 