{% extends "base.html" %}

{% block header %} 
    <h1 class="header">User Profile</h1> 
{% endblock %} 

{% block notifications %} 
    {% with messages = get_flashed_messages() %} 
        {% if messages %} 
            {% for message in messages %} 
                <div class="notifications">{{ message }}</div>
            {% endfor %} 
        {% endif %} 
    {% endwith %} 
{% endblock %} 

{% block content %} 
    <p>This is currently a placeholder.</p>
    
    
 
    <div class="main-container">
        <div class="doctor-container">
            {% for doctor in doctors %}
                <div class="doctor-summary">
                    <p> {{ doctor[0] }},  
                        {{ doctor[1] }} </p>
                </div>
            {% endfor %}
        </div>
    <div class ="test-tuples">
        <p> {{ doctors }} </p>
    </div>
    </div>

{% endblock %} 